{% load static %}

<div class="topbar">
    <div class="topbar-container">
        <div class="topbar-left">
            <a href="#" class="topbar-logo">
                <img src="{% static 'global/images/logo_png.png' %}" alt="Logo">
                <span>InkNation</span>
            </a>

            <nav class="topbar-menu">
                <a href="#">Início</a>
                <a href="#">Sobre</a>
                <a href="#">Serviços</a>
                <a href="#">Projetos</a>
                <a href="#">Contato</a>
            </nav>
        </div>

        <div class="topbar-right">
            <a href="#" class="btn-topbar btn-login">Login</a>
            <a href="#" class="btn-topbar btn-cadastro">Cadastro</a>
        </div>
    </div>
</div>